.navbar {
    background: teal;
    border-radius: 15px 50px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nameOfMe {
    color: white;
    text-align: right;
}
#timour {
    font-family: 'Bilbo Swash Caps', cursive;
}